PORT=10000
CORS_ORIGIN=<origin1>,<origin2>
MONGO_URI= 

ACCESS_TOKEN_SECRET=<access token secret key>
ACCESS_TOKEN_EXPIRY=

REFRESH_TOKEN_SECRET=<refresh token secret key>
REFRESH_TOKEN_EXPIRY=

GMAIL_CLIENT_ID=<GMAIL_CLIENT_ID>
GMAIL_CLIENT_SECRET=<GMAIL_CLIENT_SECRET>
GMAIL_REFRESH_TOKEN=<GMAIL_REFRESH_TOKEN>
GMAIL_USER_EMAIL=<GMAIL_USER_EMAIL>

EMAIL_VERIFICATION_URL=<SERVER_URL>/verifyEmail
FORGOT_PASSWORD_URL=<SERVER_URL>/newPassword


IMAGEKIT_PRIVATE_KEY=<IMAGEKIT_PRIVATE_KEY>
IMAGEKIT_URL_ENDPOINT=<IMAGEKIT_URL_ENDPOINT>

SERVER_URL=<SERVER_URL>
